sqlite3
libsqlite3-dev
sqlalchemy
fastapi[standard]
uvicorn[standard]
passlib
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
pymysql
pydantic
alembic
pytest
starlette
httpx
pytest-asyncio
typing_extensions
mako
aiofiles
jinja2